<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meeting Title</title>
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
            rel="stylesheet">
        <link rel="stylesheet" href="../public/stylesheets/home-c.css">
        <link rel="stylesheet" href="/stylesheets/home-c.css">
    </head>
    <body>
        <div class="container ">
            <div class="left">
                <div class="display-none">
                    <i class="ri-user-line"></i>
                </div>
                <video id="local-vdo" class="none" src muted autoplay loop></video>
            </div>
            <div class="right">
                <div class="msg-container" style="display: none;">
                    <div class="header">
                        <span class="room-name">Room :- 78378829</span>
                        <i class="ri-close-circle-line messageToggle"></i>
                    </div>
                    <div class="body">
                        <div class="inner-body newMessageApairHere">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="input-f"><input id="msg-Sent-Input"
                                type="text" placeholder="Comment..."></div>
                        <i id="msg-Sent-Btn" class="ri-send-plane-fill"></i>
                    </div>
                </div>
                <div class="member-container" style="display: none;">
                    <div class="header">
                        <span class="room-name">Member's</span>
                        <i class="ri-close-circle-line memberToggle"></i>
                    </div>
                    <div class="body">
                        <div class="inner-body" id="room-Members_here">
                            <div class="profile">
                                <div class="user_detailes">
                                    <img
                                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                        alt>
                                    <div class="name">You</div>
                                </div>
                                <div class="actions">
                                    <i class="ri-more-2-fill"></i>
                                    <i class="ri-unpin-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-container" id="userLiveContainer">
                    <div class="profile" id="cloneDiv" style="display: none;">
                        <div class="name"><h4>Nitesh Nagar</h4></div>
                        <video src muted autoplay></video>
                        <audio id controls autoplay style="display: none;"></audio>
                        <div class="tols"><i class="ri-mic-line"></i><i
                                class="ri-camera-line"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom ">
            <div class="meeting-details">Mitting Info <i
                    class="ri-arrow-drop-up-line"></i></div>
            <div class="actions"><i class="ri-mic-off-fill" id="micMuteUnmute"></i><i
                    class="ri-phone-line end-mitting"></i><i
                    class="ri-camera-off-line" id="video-cam-on-off"></i><i
                    class="ri-tv-2-line" id="screen-share-on-off"></i><i
                    class="ri-record-circle-line record"></i></div>
            <div class="members"><i class="ri-message-3-line messageToggle"></i><i
                    class="ri-group-line memberToggle"></i><sup
                    class="roomMembers">1</sup></div>
        </div>
        <div class="leave-container" style="display: none;">
            <div class="leave-box">
                <h1>Leave Meeting</h1>
                <hr>
                <div class="btn">
                    <button class="leave">Leave</button>
                    <button class="cancel">Cancel</button>
                </div>
            </div>
        </div>
        <div class="recording-indicater rocord-meeting" style="display: none;">
            <i class="ri-record-circle-line"></i>
            <h4>Recording</h4>
        </div>
        <div class="meeting-detail">
            <div class="top">
                <div class="left link tobActive"><i class="ri-links-fill"></i> Link</div>
                <div class="right attchment"><i class="ri-attachment-2"></i>Attchment</div>
            </div>
            <div class="bot">
                <div class="text">Meeting Link</div>
                <div class="orignal-link"></div>
                <div class="link-btn"><span>Copy Link..!</span></div>
            </div>
            <div class="box-1 none">
                <div class="input">
                    <input type="file" class="input-file" placeholder="choose file">
                    <i  class="ri-arrow-right-line sent-icon"></i>
                </div>
            </div>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"
            integrity="sha512-Z6C1p1NIexPj5MsVUunW4pg7uMX6/TT3CUVldmjXx2kpip1eZcrAnxIusDxyFIikyM9A61zOVNgvLr/TGudOQg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
        <script src="/javascripts/app.js"></script>
        <script>
        var username = window.prompt('User Name...');
        var meeting_code = '<%= roomId %>';
        if (!username || !meeting_code) {
            window.location.assign('/');
        }
        $(document).ready(() => {
            $('.name').html(username);
            MyApp._init(username, meeting_code);
            $('.messageToggle').on('click',()=>{
                $('.ri-message-3-line').toggleClass('active');
                $('.msg-container').slideToggle('slow');
            })
            
            $('.memberToggle').on('click',()=>{
                $('.ri-group-line').toggleClass('active');
                $('.member-container').slideToggle('slow');
            })
        });

        $(document).on('click','.meeting-details',()=>{
            $('.meeting-detail').fadeToggle('fast');
        });

        $(document).on('click','.link',()=>{
            $('.link').toggleClass('tobActive');
            $('.attchment').toggleClass('tobActive');
            $('.attchment').removeClass('tobActive');
            $('.bot').toggleClass('none');
            $('.box-1').toggleClass('none');
        })
        
        $(document).on('click','.attchment',()=>{
            $('.link').toggleClass('tobActive');
            $('.attchment').toggleClass('tobActive');
            $('.link').removeClass('tobActive');
            $('.bot').toggleClass('none');
            $('.box-1').toggleClass('none');
        })

        let URL = window.location.href;
        $('.orignal-link').html(URL);
        const copyButton = document.querySelector('.link-btn');
        const contentToCopy = document.querySelector('.orignal-link');
        copyButton.addEventListener('click', () => {
            const textToCopy = contentToCopy.innerText;
            copyToClipboard(textToCopy);
        });

        function copyToClipboard(text) {
            const textarea = document.createElement('textarea');
            textarea.value = text;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
        }

        let sentAllAttech = document.querySelectorAll('.sent-attchment');

        function downloadFIle(fileName) {
            console.log('Download clicked:', fileName);

            const fileUrl = `/images/uploads/${fileName}`; // Replace with the actual file URL

            fetch(fileUrl)
                .then(response => {
                if (!response.ok) {
                    throw new Error(`Download error: ${response.status} ${response.statusText}`);
                }
                return response.blob();
                })
                .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = `w-${fileName}`;
                a.click();
                window.URL.revokeObjectURL(url);
                })
                .catch(error => {
                console.error('Error:', error);
                });
            }


    </script>
    </body>
</html>